body {
  box-sizing: border-box;
  border: 15px dotted plum;
  background-color: aliceblue;
  height: 100%;
  margin: 0px;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
  background-color: pink;
  height: 200px;
  border-radius: 40px 10px;
  
}

.photo {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px dotted plum;
}

.full-name {
  text-align: center;
}

.carrera {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
 
.card-info {
  height: 200px;
  text-align: center;
  margin: auto;
  width: 30%;
}

.card-info > p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px dotted palevioletred;
  border-radius: 40px 10px;
  width: 240px;
}

#email {
  margin-top: 50px;
}
