h1 {
  color: blue;
}
p {
  color: white;
  background-color: plum;
  padding: 15px;
  border: 10px solid powderblue;
  /* margin: 50px; */
  /* margin-top: 40px;
   margin-right: 10px;
   margin-bottom: 20px;
   margin-left: 10px; */
  /* margin: 30px 15px 30px 15px; */
  margin: auto 50px 50px;
  text-align: center;
}
body {
  border: 5px dotted pink;
}
/* 
a{
  cursor: pointer;
} */
