.fondo_titulo {
  display: inline-block;
  background-color: rgb(148, 184, 230);
  padding: 10px 20px;
}

.cuadro_parrafos {
  border: 2px solid #668bb3;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}

.subtitulo {
  background-color: #a9e8c2;
  width: 200px;
  padding: 15px;
}

.descripcion {
  padding: 10px;
  flex: 1;
}

.texto_descripcion {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}

.center_content {
  text-align: center;
  display: flex;
  align-items: center;
}
